.entry-title {
    display: none;
}

#invisible-items {
    display: none;
}

span.item-label {
    font-weight: bold;
}

#header-title,
#emsform-sample-prices .item-title,
#emsform-sample-prices .request-quote,
#emsform-sample-prices .item-label,
#lightbox-modal span.item-label,
#lightbox-title {
    font-family: 'gilroy-extrabold', 'gilroy-light', Arial, sans-serif;
}

#emsform-sample-prices .btn-opt:focus {
    outline: none;
    /*outline: none !important;
    border: 1px solid #ec602c;
    box-shadow: 0 0 10px #ec602c;*/
}

#emsform-sample-prices .btn-group {
    width: 100%;
}

#emsform-sample-prices .btn-group > .btn {
    border-radius: 0 !important;
}

#emsform-sample-prices .btn-primary,
#emsform-sample-prices #sample-prices-pagination > .active > span {
    background-color: #194fa5;
    border-color: #0c4092;
}

#emsform-sample-prices .btn-group > .btn-primary:hover,
#emsform-sample-prices .btn-group > .btn-primary:active {
    background-color: #1951cd;
    border-color: #1d3dcd;
}

#emsform-sample-prices .request-quote {
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 32px;
    background-color: #ec602b;
    padding: 6px;
}
#emsform-sample-prices .request-quote:hover {
    background-color: #ff612b;
}

#emsform-sample-prices #sample-price-items-container,
#emsform-sample-prices #request-quote-btn2 {
    display: none;
}

#header-title {
    background-color: #194fa5;
    height: 60px;
    padding: 15px 0;
    margin: 0;
    text-align: center;
}
#header-title span {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

#header-filter {
    background-color: #80817c;
    padding: 15px 0;
    margin: 0;
}

#select-label {
    color: white;
    font-weight: normal;
    font-size: 21px;
    margin: 0;
    vertical-align: middle;
}

#filter {
    background-color: #194fa5;
    border-color: #194fa5;
}
#filter:hover, #filter:active {
    background-color: #1951cd;
    border-color: #1951cd;
}

#sample-price-items-container {
    padding: 15px 0;
    margin: 30px 0 0 0;
}

#emsform-sample-prices .sample-price-col-1 {
    margin-right: 6px;
}
#emsform-sample-prices .sample-price-col-2 {
    margin: 0 3px;
}
#emsform-sample-prices .sample-price-col-3 {
    margin-left: 6px;
}

#emsform-sample-prices .item-container {
    padding: 0;
    margin-bottom: 10px;
}
#emsform-sample-prices .item-thumbnail {
    margin: 10px 0;
}
#emsform-sample-prices .img-sample-price {
    cursor: pointer;
    height: 150px;
    margin: 0 auto;
}
#emsform-sample-prices .item-container > div {
    padding: 4px 8px;
    border: 2px solid #1c4ea5;
    font-size: 15px;
}
#emsform-sample-prices .item-container .item-title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
#emsform-sample-prices .item-container .quantity-row div:not(:first-child) {
    text-align: center;
}
#emsform-sample-prices .item-container .cost-row div:not(:first-child) {
    font-family: 'gilroy-extrabold', 'gilroy-light', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color: #19c476;
}
#emsform-sample-prices .item-container .quantity-row > div:first-child,
#emsform-sample-prices .item-container .cost-row > div:first-child {
    max-width: 115px;
}

#emsform-sample-prices #sample-prices-pagination-block {
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f2f2f2;
    border-radius: 4px;
    min-height: 80px;
    padding: 10px;
}
#emsform-sample-prices #sample-prices-pagination {
    margin-left: 135px;
}
#emsform-sample-prices #sample-prices-count-select {
    float: right;
    margin: 20px 10px;
    width: 135px;
}
#emsform-sample-prices #sample-prices-count-select > label {
    margin-bottom: 0;
    vertical-align: middle;
}


#lightbox-modal {
    z-index: 100000;
    background-color: rgba(50,50,50,0.5);
}
#lightbox-modal > div.modal-dialog {
    min-width: 700px;
}
#lightbox-modal .modal-header {
    border-bottom: none;
}
#lightbox-modal .modal-content {
    box-shadow: none;
    border: 4px solid #1d4ea5;
    border-radius: 0;
}
#lightbox-modal span.item-label {
    min-width: 75px;
    float: left;
}
#lightbox-title {
    text-align: center;
    font-size: 40px;
    line-height: 40px
}
#lightbox-image {
    max-height: 500px;
}

#lightbox-modal .quantity-row span.item-label,
#lightbox-modal .cost-row span.item-label{
    min-width: 100px;
    float: left;
}

#lightbox-modal .quantity-row div:not(:first-child) {
    text-align: center;
}
#lightbox-modal .cost-row div:not(:first-child) {
    font-family: 'gilroy-extrabold', 'gilroy-light', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #19c476;
}
#lightbox-modal,
#lightbox-modal .quantity-row div,
#lightbox-modal .cost-row div {
    font-size: 17px;
}
#lightbox-modal .quantity-row > div:first-child,
#lightbox-modal .cost-row > div:first-child {
    max-width: 115px;
}

#lightbox-prev {
    cursor: pointer;
    float: left;
    background: url("img/prev.png") no-repeat center center;
    width: 30px;
    min-height: 300px;
}
#lightbox-next {
    cursor: pointer;
    float: right;
    background: url("img/next.png") no-repeat center center;
    width: 30px;
    min-height: 300px;
}
.prev-next-disabled {
    cursor: not-allowed !important;
    opacity: 0.4 !important;
    filter: alpha(opacity=40) !important; /* msie */
}



@media (max-width: 768px) {
    #emsform-sample-prices #sample-prices-pagination {
        margin-left: 0;
    }
    #filter-groups {
        margin-top: 10px
    }
    #emsform-sample-prices .btn-group > .btn {
        min-width: 50%;
    }

    #emsform-sample-prices .item-container > div {
        font-size: 13px;
    }
    #emsform-sample-prices .item-container .item-title {
        font-size: 18px;
    }
    #emsform-sample-prices .item-container .cost-row div:not(:first-child) {
        font-size: 13px;
    }
    #emsform-sample-prices #sample-prices-count-select {
        float: none;
        margin: 0 auto;
    }
}
@media (max-width: 1199px) {
    #lightbox-modal > div.modal-dialog {
        min-width: 0;
    }

    #emsform-sample-prices .sample-price-row {
        margin-bottom: 0;
    }
    #emsform-sample-prices .item-container {
        margin-bottom: 10px;
    }
    #emsform-sample-prices .sample-price-col-1,
    #emsform-sample-prices .sample-price-col-2,
    #emsform-sample-prices .sample-price-col-3 {
        margin: 0;
    }

    #lightbox-modal .quantity-row div,
    #lightbox-modal .cost-row div {
        font-size: 15px;
    }
}
