/*
 * My custom scrollbar
 */
::-webkit-scrollbar {
    width: 10px;
    float: right;
    background-color: #ebeff200;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ebeff200;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #98a6ad;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #98a6ad; 
}

/*
 */

.register .left{
    text-align: center;
    color: #222;
    margin-top: 4%;
}

.register .right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register .left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}

.login .right{
    text-align: center;
    color: #222;
    margin-top: 4%;
}

.login .left{
    background: #f8f9fa;
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
}

.login .login-form{
    padding: 10%;
    margin-top: 10%;
}

.account-detail .account-detail-switcher {
    float: right;
}


.request-list .request-list-item .serial-number {
    float: left;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}
  
.request-list .request-list-item .serial-number span {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    overflow: hidden;
}
  
.request-list .request-list-item .request-desc {
    margin-left: 50px;
}
  
.request-list .request-list-item .request-desc span.material {
    color: #435966;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}

.request-list .request-list-item .request-desc span.finishes {
    color: #435966;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}
  
.request-list .request-list-item .request-desc span.desc {
    color: #98a6ad;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
}
  
.request-list .request-list-item .request-desc span.submit-date {
    font-size: 11px;
    color: #71b6f9;
}

.request-list .request-list-item .request-desc span.activate-date {
    font-size: 11px;
    color: #71b6f9;
}

.social-links button {
    padding: 12px 24px !important;
    margin: 4px;
}

.social-links button:hover {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.font-showcard-gothic {
    font-family: 'Showcard Gothic';
}

.font-eras-itc {
    font-family: 'Eras ITC';
}

.files-list .file-box {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    padding: 2px;
    border-radius: 3px;
}

.files-list .file-box img {
    line-height: 70px;
}

.files-list .file-box p {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row-title {
    text-transform: uppercase;
    font-size: 4vw;
}


.notes {
    background-size: 100% 100%, 100% 100%, 100% 31px;
    border: 0;
    border-radius: 0px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 31px;
    font-family: 'Courier New', Arial, Helvetica, Sans-serif;
    padding: 8px;
}

.notes-dark {
    background-image: -webkit-linear-gradient(left, #343a40 10px, transparent 10px), -webkit-linear-gradient(right, #343a40 10px, transparent 10px), -webkit-linear-gradient(#343a40 30px, #ccc 30px, #ccc 31px, #343a40 31px);
    background-image: -moz-linear-gradient(left, #343a40 10px, transparent 10px), -moz-linear-gradient(right, #343a40 10px, transparent 10px), -moz-linear-gradient(#343a40 30px, #ccc 30px, #ccc 31px, #343a40 31px);
    background-image: -ms-linear-gradient(left, #343a40 10px, transparent 10px), -ms-linear-gradient(right, #343a40 10px, transparent 10px), -ms-linear-gradient(#343a40 30px, #ccc 30px, #ccc 31px, #343a40 31px);
    background-image: -o-linear-gradient(left, #343a40 10px, transparent 10px), -o-linear-gradient(right, #343a40 10px, transparent 10px), -o-linear-gradient(#343a40 30px, #ccc 30px, #ccc 31px, #343a40 31px);
    background-image: linear-gradient(left, #343a40 10px, transparent 10px), linear-gradient(right, #343a40 10px, transparent 10px), linear-gradient(#343a40 30px, #ccc 30px, #ccc 31px, #343a40 31px);
}

.notes-customdark {
    background-color: #364046;
    color: #f3f3f3;
}

.notes-light {
    background-color: #e8e8e8 !important;
    color: #253138 !important;
}

.notes:focus {
    outline: none;
}