@keyframes line-flow {
    from {
        top:0;
    }
    to {
        top: 10px;
    }
}

/* globel */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.bg-full-page {
    background-image: url('../images/main-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 91vh;
    width: 100vw;

    position: fixed;
    top: 9vh;
    padding: 0;
    margin: 0;
}

.big-link {
    padding-top:2px;
    padding-bottom: 2px;
    border-radius: 16px;
    font-size: 24px;
    font-weight: bolder;
    transition: all .5s ease-in-out;
}

.big-link span:nth-of-type(2) {
    color:black;
    text-decoration: underline;
    font-size: 12px;
    display: none;
}

.big-link:hover {
    padding-left: 36px;
    padding-right: 36px;

}
.big-link:hover span:nth-of-type(2) {
    display:block;
}

.line-flow-animation span {
    position: relative;
    transition: all 1s linear;
    animation: line-flow 2s linear 0s infinite normal forwards; 
}

.dropify-container {
    position: relative;
}

/* fotter
----------------------------------------->*/

.dropify-container .dropify-delete {
    z-index: 100;
    position: absolute;
}
.dd-item{
    cursor: pointer;
    padding-left: 8px;
    margin: 0.5px;
    margin-right: 0px !important;
}
.dd-item:hover{
    background-color: lightgray;
    color: dimgray;
    border-radius: 4px;
}
.dd-item.active{
    background-color: #167ccb;
    color: whitesmoke;
    border-radius: 4px;

}
@media (max-width: 500px) {
    .dropdown-menu.form-control {
        height: 200px;
        overflow-y: scroll;
    }
}
@media (min-width:700px){
    .dropdown-menu.form-control {
        width: 700px;
    }
    
}
.dropdown-menu {
    transform: translate3d(0px, 35px, 0px) !important;
}
