/* Cookie notice styles */
#ems-cookie-notice {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100px;
    min-width: 300px;
    width: 320px;
    background-color: #223e52;
    padding: 15px;
    color: white;
    z-index: 100000;
    font-family: 'gilroy-light', Arial, sans-serif;
}

#ems-cookie-notice > p {
    padding-bottom: 0;
    font-size: 16px;
}

#ems-cn-ok-btn {
    background-color: #289fed;
    color: white;
    width: 80px;
    border: none;
    margin-right: 10px;
    border-radius: 2px;
    font-weight: bold;
}
#ems-cn-ok-btn:hover {
    background-color: #28b1ff;
}

#ems-cn-learnmore-btn {
    text-decoration: none;
    background-color: #143247;
    color: #2693da;
    width: 120px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
}
#ems-cn-learnmore-btn:hover {
    background-color: #14283d;
}

.bootstrap-wrapper #ems-cookie-notice .close,
.bootstrap-wrapper #ems-cookie-notice .close {
    color: white;
    text-shadow: none;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}
.bootstrap-wrapper #ems-cookie-notice .close:focus,
.bootstrap-wrapper #ems-cookie-notice .close:hover {
    opacity: 1;
}

@media (max-width: 465px) {
    #ems-cookie-notice {
        width: 100%;
    }
}
