#download-signup-modal, #download-thankyou-modal {
    font-family: 'gilroy', 'gilroy-light', Arial, sans-serif;
}

#download-signup-modal, #download-thankyou-modal {
    z-index: 100000;
    background-color: rgba(50,50,50,0.5);
}

#download-signup-modal .modal-content,
#download-thankyou-modal .modal-content {
    border-radius: 12px;
}

#download-signup-modal .modal-content {
    max-width: 740px;
}
#download-signup-modal .modal-dialog {
    width: 740px;
}
#download-thankyou-modal .modal-content {
    max-width: 760px;
}
#download-thankyou-modal .modal-dialog {
    width: 760px;
}


#download-signup-modal .modal-header,
#download-thankyou-modal .modal-header {
    border-bottom: none;
}

#download-signup-modal .modal-footer,
#download-thankyou-modal .modal-footer {
    background-color: #27549d;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 8px;
}

#download-thankyou-modal .modal-header img.img-valign {
    vertical-align: bottom;
}
#download-thankyou-modal .modal-title {
    font-size: 28px;
}
#download-thankyou-modal .modal-body {
    padding: 10px 25px;
    font-size: 17px;
}
#download-thankyou-modal .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .7;
}
#download-thankyou-modal .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
#download-thankyou-modal .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 30px;
    line-height: 27px;
    color: #616161;
    background-color: white;
    font-size: 22px;
}
#download-thankyou-modal .getstarted-card {
    font-size: 15px;
    border: 1px solid silver;
    padding: 0;
    margin: 11px;
    width: 223px;
}
#download-thankyou-modal .getstarted-card > .card-title {
    border-bottom: 1px solid silver;
    margin: 0;
    height: 80px;
}
#download-thankyou-modal .getstarted-card > .card-title > div.col-xs-12 {
    padding: 5px 10px;
}
#download-thankyou-modal .getstarted-card .card-title-cap {
    text-transform: uppercase;
    color: gray;
}
#download-thankyou-modal .getstarted-card .card-title-cap > div {
    padding: 0 5px;
}
#download-thankyou-modal .getstarted-card .card-subtitle-descr {
    border-right: 1px solid silver;
    padding: 0 5px;
}
#download-thankyou-modal .getstarted-card .card-subtitle-descr img {
    padding-right: 6px;
}
#download-thankyou-modal .getstarted-card > .card-footer {
    font-size: 14px;
}




#download-signup-modal .progress {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 18px;
}

#download-signup-modal .progress span {
    position: absolute;
    display: block;
    width: 100%;
}

#download-signup-modal input {
    border-radius: 12px;
    font-size: 16px;
}
#download-signup-modal label {
    font-size: 16px;
    line-height: 21px;
}
#download-signup-modal p {
    font-size: 14px;
}

#download-signup-modal #social-buttons-col {
    padding-right: 5px;
}
#download-signup-modal #non-eu-block {
    background: url(../../../uploads/download/or-separator-vert.jpg) no-repeat right top;
    padding-right: 50px;
    padding-bottom: 0;
    min-height: 135px;
}
#download-signup-modal #non-eu-block > p {
    max-width: 220px;
}
#download-signup-modal #eu-block {
    margin-bottom: 30px;
}
#download-signup-modal #signup-email {
    margin: 10px 0;
}

#download-signup-modal #download-popup-btn {
    height: 42px;
    border-radius: 12px;
    background-color: #5dba83;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
}
#download-signup-modal #download-popup-btn:hover {
    background-color: #57ae76;
}

/* Social Buttons */
.btn-social {
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 220px;
    padding-left: 50px;
    height: 42px;
    font-size: 15px;
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 42px;
    line-height: 42px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.bootstrap-wrapper button.btn-facebook,
.bootstrap-wrapper a.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
    text-align: left;
    padding-left: 50px;
}
.bootstrap-wrapper button.btn-facebook:hover,
.bootstrap-wrapper a.btn-facebook:hover {
    background-color: #3c4d8d;
    color: #fff;
}

.bootstrap-wrapper button.btn-google,
.bootstrap-wrapper a.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
    margin-top: 10px;
    text-align: left;
    padding-left: 50px;
}
.bootstrap-wrapper button.btn-google:hover,
.bootstrap-wrapper a.btn-google:hover {
    background-color: #d14b39;
    color: #fff;
}


/* Styles for mobile */
@media only screen and (max-width: 425px) {
    #download-signup-modal .modal-dialog,
    #download-thankyou-modal .modal-dialog {
        width: auto;
    }
    #download-signup-modal #non-eu-block {
        background: url(../../../uploads/download/or-separator-horz.jpg) no-repeat center bottom;
        padding-bottom: 60px;
        padding-right: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    #download-signup-modal #non-eu-block > p {
        max-width: none;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;
    }
    #download-signup-modal #social-buttons-col {
        padding-right: 15px;
    }
    #download-signup-modal .btn-social {
        min-width: 250px;
    }
}

@media only screen and (max-height: 350px) {
    #download-signup-modal #non-eu-block {
        background: none;
        padding-bottom: 0;
    }
    #download-signup-modal .progress,
    #download-signup-modal .modal-footer {
        display: none;
    }
}

/* Center popup on desktop */
@media only screen and (min-width: 768px) {
    .modal {
        text-align: center;
    }
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    .modal.fade .modal-dialog {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .modal.fade.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    //-webkit-transform: translate3d(0, -300px, 0);
    //transform: translate3d(0, -300px, 0);
        opacity: 1;
    }
}




.ems-multiple-slider .arrow-prev,
.ems-multiple-slider .arrow-prev:hover {
    left: 0;
}
.ems-multiple-slider .arrow-next,
.ems-multiple-slider .arrow-next:hover {
    right: 0;
}

.ems-multiple-slider .arrow-next,
.ems-multiple-slider .arrow-prev {
    color: #2ea3f2 !important;
    font-size: 40px;
    top: 40%;
    position: absolute;
    z-index: 100;
}

.ems-multiple-slider .carousel-inner {
    width: 90%;
    margin: 0 auto;
}

/* override position and transform in 3.3.x */
.ems-multiple-slider-opacity .carousel-inner .item.active > div:first-child,
.ems-multiple-slider-opacity .carousel-inner .item.active > div:last-child{
    opacity: 0.5;
}
.ems-multiple-slider-opacity .carousel-inner .item.left.active > div:nth-child(3),
.ems-multiple-slider-opacity .carousel-inner .item.right.active > div:nth-child(1) {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
.ems-multiple-slider-opacity .carousel-inner .item.left.active > div:nth-child(2),
.ems-multiple-slider-opacity .carousel-inner .item.right.active > div:nth-child(2){
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
}
.ems-multiple-slider-opacity .carousel-inner .item.next > div:nth-child(2),
.ems-multiple-slider-opacity .carousel-inner .item.prev > div:nth-child(2){
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
}
.ems-multiple-slider-opacity .carousel-inner .item.next > div:nth-child(3),
.ems-multiple-slider-opacity .carousel-inner .item.next > div:nth-child(1),
.ems-multiple-slider-opacity .carousel-inner .item.prev > div:nth-child(3),
.ems-multiple-slider-opacity .carousel-inner .item.prev > div:nth-child(1){
    opacity: 0.5;
}

.ems-multiple-slider .carousel-inner .item.left.active {
    transform: translateX(-33%) !important;
}
.ems-multiple-slider .carousel-inner .item.right.active {
    transform: translateX(33%) !important;
}
.ems-multiple-slider .carousel-inner .item.next {
    transform: translateX(33%) !important;
}
.ems-multiple-slider .carousel-inner .item.prev {
    transform: translateX(-33%) !important;
}
.ems-multiple-slider .carousel-inner .item.right,
.ems-multiple-slider .carousel-inner .item.left {
    transform: translateX(0) !important;
}