.spacer5  { padding-top: 5px; }
.spacer10 { padding-top: 10px; }
.spacer15 { padding-top: 15px; }
.spacer20 { padding-top: 20px; }
.spacer30 { padding-top: 30px; }
.spacer40 { padding-top: 40px; }
.spacer50 { padding-top: 50px; }
.hspacer  { margin-left: 12px !important; }
.nomargin { margin: 0 !important; }
.noborder { border: none !important; }
.valign   { vertical-align: middle !important; }
.nowrap   { white-space: nowrap; }
.nopadding  { padding: 0 !important; }
.norpadding { padding-right: 0 !important; }
.fullwidth  { width: 100% !important; }
.row-spacer { padding-top: 15px; }
.nounderline { text-decoration: none !important; }
.displaynone { display: none}

.make-invisible {
    position: absolute;
    top: -5000px;
}

input.nospin::-webkit-outer-spin-button,
input.nospin::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/*FF Fix*/
input[type=number] {
    -moz-appearance:textfield;
}

/* EMS Forms styles */
.emsform, .ems-font-gilroy, div.emsform .tooltip-inner,
#request-submitted-modal, #order-submitted-modal, #contact-info-modal {
    font-family: 'gilroy-light', Arial, sans-serif;
}

 .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
    cursor: pointer;
}
 .panel-heading a.collapsed:after {
    content:"\e080";
}
 .pretty-radio {
    border: 1px solid #cccccc;
    border-radius: 15px;
    display: block;
    height: 22px !important;
    line-height: 20px;
    text-align: center;
    width: 22px !important;
    cursor: pointer;
}
 .pretty-checkbox {
    border: 1px solid #cccccc;
    display: block;
    height: 20px !important;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
 label.radio-inline {
    height: 30px;
    line-height: 30px;
    position: relative;
}
 .form-group {
    min-height: 34px;
    margin-bottom: 0;
}
   .form-inline label {
    line-height: 34px;
}
 .form-group .form-inline .ctrl-inline {
    margin-bottom: 6px;
}
 .form-group .form-inline .ctrl-sm {
    width: 18%;
}
.btn-submit {
    min-width: 160px;
    font-size: 20px !important;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.btn-green {
    background-color: #50d46c;
    border-color: #50d46c;
    font-size: 16px;
    font-weight: bold;
}
.emsform a.btn {
    text-decoration: none;
}


.tooltip.in {
    opacity: 1;
    z-index: 100000;
}
.tooltip-inner {
    background-color: #f2ce7a;
    color: black;
    width: 320px;
    max-width: 320px;
    font-size: 18px;
}
.white-tooltip + .tooltip > .tooltip-inner {
    background-color: #fff;
}
.small-wide-tooltip + .tooltip > .tooltip-inner {
    padding: 15px;
    max-width: 400px;
    font-size: 13px;
    border: 1px solid silver;
}
span.panel-title {
    font-size: 20px;
    cursor: pointer;
}
.panel-heading {
    cursor: pointer;
}
span.panel-title > a:hover {
    text-decoration: none;
}
.form-control {
    height: 36px;
    padding: 5px 12px;
}
.text-right > .checkbox > label {
    text-align: left;
}

input.form-control, select.form-control, textarea.form-control, div.bootstrap-select span.filter-option {
    font-size: 18px;
}

div.dropdown-menu ul.dropdown-menu {
    padding: 0 0 8px 0;
}
div.dropdown-menu li {
    display: block;
}

textarea.ui-resizable {
    min-height: 39px;
}

/* Bootstrap select fixes */
.bootstrap-select > .dropdown-menu {
    padding: 0;
    max-height: 100vh !important;
}


/* Multiview dropdown for material and finishes (only for desktop) */
#material-list-desktop,
#material-list-desktop > .container {
    max-width: 800px;
}
.multiviewdd > .dropdown-menu > .container {
    padding-top: 5px;
}
.multiviewdd > button {
    text-align: left;
}
.multiviewdd span.multiviewdd-title {
    float: left;
    font-size: 18px;
    width: 93%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.multiviewdd span.caret {
    float: right;
    margin-top:10px
}
.multiviewdd .multiviewdd-heading {
    color: #555;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.multiviewdd .multiviewdd-subheading {
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    padding: 0 8px;
}
.multiviewdd .multiviewdd-notes {
    color: #777;
    font-weight: bold;
    font-size: 18px;
}
 .dd-item {
    font-size: 15px;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 5px;
}
 .dd-item:hover {
    background-color: #eee;
    color: black;
    cursor: pointer;
}
 .dd-active-item {
    background-color: #337ab7;
    color: #ffffff;
}
 .dd-active-item:hover {
    background-color: #40a6f0;
    color: #ffffff;
}


/*Hide placeholder text upon mouse click */
div.emsform input:focus::-webkit-input-placeholder { color:transparent !important; }
div.emsform input:focus:-moz-placeholder { color:transparent !important; } /* FF 4-18 */
div.emsform input:focus::-moz-placeholder { color:transparent !important; } /* FF 19+ */
div.emsform input:focus:-ms-input-placeholder { color:transparent !important; } /* IE 10+ */

div.emsform .table-borderless,
div.emsform .table-borderless > tbody > tr > td,
div.emsform .table-borderless > tbody > tr > th,
div.emsform .table-borderless > tfoot > tr > td,
div.emsform .table-borderless > tfoot > tr > th,
div.emsform .table-borderless > thead > tr > td,
div.emsform .table-borderless > thead > tr > th {
    border: none;
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg { text-align: left; }
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg { text-align: center; }
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg { text-align: right; }
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg { text-align: justify; }
@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs { text-align: inherit; }
    .text-left-xs { text-align: left; }
    .text-center-xs { text-align: center; }
    .text-right-xs { text-align: right; }
    .text-justify-xs { text-align: justify; }
    .pull-right-xs { float: right; }
    .hspacer { margin-left: 0 !important; }
    .row-spacer { padding-top: 0; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm { text-align: inherit; }
    .text-left-sm { text-align: left; }
    .text-center-sm { text-align: center; }
    .text-right-sm { text-align: right; }
    .text-justify-sm { text-align: justify; }
    .pull-right-sm { float: right; }
    .hspacer { margin-left: 0 !important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md { text-align: inherit; }
    .text-left-md { text-align: left; }
    .text-center-md { text-align: center; }
    .text-right-md { text-align: right; }
    .text-justify-md { text-align: justify; }
    .pull-right-md { float: right; }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg { text-align: inherit; }
    .text-left-lg { text-align: left; }
    .text-center-lg { text-align: center; }
    .text-right-lg { text-align: right; }
    .text-justify-lg { text-align: justify; }
    .pull-right-lg { float: right; }
}

@media screen and (max-width: 768px) {
    div.emsform .form-group .form-inline .ctrl-sm {
        width: 100%;
    }
}