<div style="height:100vh;" class="d-flex flex-column">
    <div class="row">
        <div class="col-12">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/GtdDHhSlCyM" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen class="mx-auto w-100 mt-2"></iframe>
        </div>
    </div>
    
    <div class="row px-4">
        <div class="col-md-8 mx-auto py-4">
            <h4 class="mb-1 text-light text-justify font-eras-itc" >Launched in 2018, MachineShop has ample experience
                using CNC technology and secondary
                processes to fabricate quality custom-machined parts for businesses, engineers, inventors and hobbyists.</h4>
    
            <h4 class="mb-1 text-light text-justify font-eras-itc" >MachineShop covers both personal projects and
                large-scale business needs. We ship
                globally from our Mahwah, NJ
                manufacturing facility. From quick turn machining of a single prototype to full-production runs of
                thousands,
                MachineShop makes getting parts both economical and easy.</h4>
        </div>
    </div>
</div>

<div class="dropdown-divider" style="height:10px"></div>

<div class="px-4">
    <div class="row" style="padding-top:4em;padding-bottom:4em;">
        
        <div class="col-md-8 mx-auto mt-4">
            <h1 class="card-title text-light text-uppercase text-center">why you should choose us</h1>
        </div>
        
        <ul class="col-md-8 mx-auto pb-4 list-unstyled">
            <li class="py-2 my-2 text-justify font-eras-itc"><b class="text-primary">Nearly Any Material You Need.</b> We work with industry-leading suppliers to
                ensure
                that you have access to an expansive inventory of materials.</li>
            <li class="py-2 my-2 text-justify font-eras-itc"><b class="text-primary">Fast, Inexpensive Parts.</b> MachineShop offers quick-turn prototype orders and
                economical production runs. Don’t worry if your budget is tight! We offer industry-low prices and
                multiple
                delivery time options.</li>
            <li class="py-2 my-2 text-justify font-eras-itc"><b class="text-primary">Manufacturing Quality.</b> Regardless of the ability of any machine shop,
                things
                can sometimes go wrong. MachineShop doesn’t play games. If your part isn’t to spec, send it back to us.
                We
                will fix or remake it, and ship it back to you for free!</li>
        </ul>
    </div>
    
    <div class="dropdown-divider"></div>

    <div class="col-md-8 mx-auto py-5">
        <h1 class="card-title text-light text-uppercase text-center mb-4">Testimonials</h1>
    
        <div class="row mx-auto">
            <div class="notification-list nicescroll mx-auto">
                <ul class="list-group list-no-border user-list" >
                    <li class="list-group-item">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <h4 class="card-title text-customdark">Share your experience with our shop</h4>
                                <form action="addNewTestimonials" method="POST" class="form">
                                    <div class="form-group">
                                        <textarea name="text" rows="3" class="form-control notes notes-light"></textarea>
                                    </div>
                    
                                    <button type="submit" class="btn btn-customdark">submit</button>
                                </form>
                            </blockquote>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </li>
                    <li class="list-group-item ">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </li>
                    <li class="list-group-item ">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </li>
                    <li class="list-group-item ">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </li>
                    <li class="list-group-item ">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
