<div class="mx-auto d-flex align-items-center justify-content-center bg-light">
    <div class="py-5">
        <h1 class="text-uppercase text-customdark font-eras-itc">contact us</h1>
        <h5 class="mr-2 text-muted font-eras-itc">Get help and support, troubleshoot your service or get in touch with us</h5>
    </div>
    <i class="mdi mdi-robot text-customdark pull-right" style="font-size:96px"></i>
</div>

<div class="col-md-6 col-xs-12 mx-xs-0 mx-auto px-4 py-4">
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold mb-0 text-capitalize">give us feeback or get support</h4>
        </div>
        <div class="p-20">
            <form class="form-horizontal m-t-20" action="index.html" method="POST">

                <div class="form-group">
                    <div class="col-xs-12">
                        <textarea class="form-control" type="text" required="required" placeholder="Explain here"></textarea>
                    </div>
                </div>

                <div class="form-group text-center m-t-30">
                    <div class="col-xs-12">
                        <button class="btn btn-light btn-bordred btn-sm waves-effect waves-light" type="submit">SEND</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="social-links d-flex justify-content-center row my-5">
    <button type="button" class="btn btn-facebook btn-lg waves-effect waves-light">
        <i class="fa fa-facebook"></i>
    </button>

    <button type="button" class="btn btn-twitter btn-lg waves-effect waves-light">
        <i class="fa fa-twitter"></i>
    </button> 

    <button type="button" class="btn btn-youtube btn-lg waves-effect waves-light">
        <i class="fa fa-youtube"></i>
    </button> 

    <button type="button" class="btn btn-google btn-lg waves-effect waves-light">
        <i class="fa fa-google"></i>
    </button> 
</div>