<div id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">

            <div class="logo">
                <a href="index.html" class="logo">
                    <span class="logo-small"><i class="mdi mdi-robot"></i></span>
                    <span class="logo-large"><i class="mdi mdi-robot"></i> Machine Shop</span>
                </a>
            </div>


            <div class="menu-extras topbar-custom">

                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <img src="../static/admins/images/users/male.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                            <a href="/profile" class="dropdown-item notify-item">
                                <i class="ti-user m-r-5"></i> Profile
                            </a>

                            <a href="/settings" class="dropdown-item notify-item">
                                <i class="ti-settings m-r-5"></i> Settings
                            </a>

                            <a href="/logout" class="dropdown-item notify-item">
                                <i class="ti-power-off m-r-5"></i> Logout
                            </a>

                        </div>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div> 
    </div>
</div>