<div class="clearfix"></div>
<div class="wrapper">
    <div class="text-center">
        <div class="col-md-4 col-xs-8 mx-auto" style="border-radius: 24px;background-color: #dfe0e0">
            <a href="" class="h1 font-900 text-uppercase text-warning line-flow-animation" style="font-family: 'Showcard Gothic'">Machine Shop</a>
        </div>
        <div class="my-4 col-md-8 col-xs-12 mx-auto" style="background-color:#253138;border-radius: 24px;font-size: 2em">
            <h2 class="text-muted px-4 py-2 font-600">CNC Machining, Injection Molding & 3D Printing</h2>
        </div>
        <a href="request-form.html" class="btn btn-warning waves-effect waves-light big-link">
            <span>Get a Custom Part Quote</span>
            <span>click this link for move to request form page</span>
        </a>
    </div>

    <script>
        let arr = $('.line-flow-animation');
        for (let i=0 ; i<arr.length ; i++) {
            let text = $(arr[i]).text();
            $(arr[i]).text('');
            for(let j in text) {
                $(arr[i]).append('<span style="animation-delay:' + (j*0.1) + 's">' + text[j] + '</span>');
            }
        }
    </script>
</div>