<div class=" form-row">
    <div class=" form-group col-sm-4 col-xs-12">
        <label class=" col-form-label">Material Type </label>
        <div class="dropdown form-control p-0">
            <div class=" dropdown-toggle p-2" id="dropdownmaterial" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Materials
            </div>
            <div class="dropdown-menu form-control col-sm-12 col-xs-12 " aria-labelledby="dropdownmaterial" style=" max-width: 700px; ">

                <input type="hidden" name="matirials_input_select" value="">

                <div class=" container" id="dropdown_mat_menu">
                    <div class="row">
                        <div class=" col-md-4 col-sm-12 col-xs-12">
                            <div class=" list-group" label="matirial" id="matirials">

                            </div>
                        </div>
                        <div class=" col-md-4 col-sm-12 col-xs-12" id="plastic_rubber">



                            <div class=" list-group" label="Titanium Grade 2">
                            </div>

                            <div class=" list-group" label="Acetal">

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" id="nylon">

                            <div class="card m-b-20 m-r-15 text-white bg-primary text-xs-center" style="position: absolute; bottom: 0;">
                                <div class="card-header text-white bg-custom text-xs-center">
                                    NOTE:
                                </div>
                                <div class="card-body">
                                    <blockquote class="card-bodyquote">
                                        <p> <i class=" ti-crown"></i> = Recommended
                                            for
                                            cost saving and speed</p>
                                    </blockquote>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" form-group col-sm-4 offset-1 ">
        <label class=" col-form-label" for="finishes">Finishes</label>
        <div class="dropdown form-control p-0" id="finishes">
            <div class=" dropdown-toggle p-2" id="dropdownfinishes" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown button
            </div>
            <div class="dropdown-menu form-control col-sm-12 col-xs-12 " aria-labelledby="dropdownfinishes" style=" max-width: 700px;">
                <div class=" container">
                    <div class="row">
                        <div class=" col-md-4 col-sm-12 col-xs-12">
                            <div class="list-group " id="mechanical">
                                <h4 class="list-group-item-heading">Mechanical</h4>

                            </div>
                        </div>

                        <div class=" col-md-4 col-sm-12 col-xs-12">
                            <div class="list-group" label="Electroplate" id="electroplate">
                                <h4 class="list-group-item-heading">Electroplate</h4>

                            </div>

                            <div class=" list-group" label="Powder Coat" id="powder_coat">
                                <h4 class="list-group-item-heading">Powder Coat</h4>

                            </div>
                        </div>

                        <div class=" col-md-4 col-sm-12 col-xs-12">
                            <div class="list-group" label="Chemical Film" id="chemical_film">
                                <h4 class="list-group-item-heading">Chemical
                                    Film</h4>


                            </div>


                            <div class="list-group" label="Anodizing" id="anodizing">
                                <h4 class="list-group-item-heading">Anodizing</h4>


                            </div>
                            <div class="list-group" label="None" id="none">
                                <h4 class="list-group-item-heading">None</h4>


                            </div>
                            <div class="list-group" label="Other">

                                <div class="list-inline-item dd-item   " value="" onclick="document.getElementById('other-customize').hidden=false">Customize</div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="form-group col-sm-2 offset-1">
        <label class="col-form-label">Quantity</label>
        <input class=" input-group bootstrap-touchspin" id="demo0" type="text" value="1" name="demo0" data-bts-min="0"
            data-bts-max="9999" data-bts-init-val="" data-bts-step="1" data-bts-decimal="0" data-bts-step-interval="100"
            data-bts-force-step-divisibility="round" data-bts-step-interval-delay="500" data-bts-prefix=""
            data-bts-postfix="" data-bts-prefix-extra-class="" data-bts-postfix-extra-class="" data-bts-booster="true"
            data-bts-boostat="10" data-bts-max-boosted-step="false" data-bts-mousewheel="true"
            data-bts-button-down-class="btn btn-default" data-bts-button-up-class="btn btn-default" />
    </div>
</div>

<textarea name="" id="powder-coat-color" cols="30" rows="3" hidden=true placeholder="Customize Powder Coat Colo"></textarea>
<textarea name="" id="anodizing-standard" cols="30" raws="4" hidden=true placeholder="Standard"></textarea>
<textarea name="" id="other-customize" cols="30" rows="5" hidden=true placeholder="Customize your Order"></textarea>
<div class=" form-row mt-4">
    <div class=" form-group  col-sm-3">
        <strong>Please choose file type: </strong>
    </div>
    <div class=" form-group  col-sm-2">

        <div class="radio radio-info">
            <input name="radio" id="radio1" type="radio" checked="" value="option1">
            <label for="radio1">
                CAD
            </label>
        </div>
    </div>
    <div class=" form-group  col-sm-2">
        <div class="radio radio-custom">
            <input name="radio" id="radio03" type="radio" value="option3">
            <label for="radio03">
                Image
            </label>
        </div>
    </div>



</div>

<div class="form-row ">
    <div class=" col-md-4">
        <input type="file" class="dropify" data-height="300" multiple>
    </div>
    <div class="col-md-7 offset-1">
        <label class="label" for="textarea"><b>Description:</b></label>
        <textarea class="form-control" id="textarea" maxlength="500" placeholder="Example: A cylindrical spacer with 1.23” outer diameter, 0.25” inner diameter, and length of 2.3."
            rows="6"></textarea>
    </div>
</div>