<div class="card-box col-md-8 mx-auto my-2">
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Sort By</h6>

            <button class="dropdown-item btn" onclick="sort_and_update(reqs, 'material', '>','.request-list')">Material (A-Z)</button>
            <button class="dropdown-item btn" onclick="sort_and_update(reqs, 'material', '<','.request-list')">Material (Z-A)</button>
            <button class="dropdown-item btn" onclick="sort_and_update(reqs, 'created_at', '>','.request-list')">Submit Date (Oldest)</button>
            <button class="dropdown-item btn" onclick="sort_and_update(reqs, 'created_at', '<','.request-list')">Submit Date (Newest)</button>
            <button class="dropdown-item btn" onclick="sort_and_update(reqs, 'activated_at', '>','.request-list')">Activating Date (Oldest)</button>
            <button class="dropdown-item btn" onclick="sort_and_update(reqs, 'activated_at', '<','.request-list')">Activating Date (Newest)</button>

        </div>
    </div>

    <h4 class="header-title m-t-0 m-b-30">My Requests List</h4>

    <div class="form-group px-2">
        <input class="form-control border-success" type="text" placeholder="Filter By: Date, Country, State, Material, Status.." id="filter-board">
    </div>

    <ul class="list-group m-b-0 request-list"></ul>
</div>

<script type="text/javascript">
    function reqs_to_ul (arr, ul) {
        $(ul).children().remove();
        arr.forEach(req => {
            //console.log(req);
            let li = `<li class="list-group-item fade show"><a href="/clients/requests_show.html" class="request-list-item"><div class="serial-number"><span class="badge badge-secondary">#${req['id']}</span></div><div class="request-desc"><span class="material"><b>Material:</b> ${req.material}</span><span class="finishes"><b>Finsihes:</b> ${req.finishes.toString()}</span><span class="submit-date"><b>Submitted at:</b> ${req.created_at}</span> | <span class="activate-date"><b>Atcivated at:</b> ${req.activated_at}</span> | <span class="list-item-inline badge badge-success badge-pill">status: ${req.status}</span></div></a></li>`;
            $(ul).append(li);
        });
    }

    function sort_array(arr, key, op) {
        arr.sort(function(a, b) {
            if(a.hasOwnProperty(key) && b.hasOwnProperty(key))
                return op === '>' ? (a[key] > b[key]) : (a[key] < b[key]);
            return false;
        });
        console.log(arr);
    }

    function sort_and_update(arr, key, op, ul) {
        sort_array(arr, key, op);
        reqs_to_ul(arr, ul);
    }

    let reqs = [ {
        'id': 1,
        'file': 'Image',
        'material': 'Aluminum 2024',
        'finishes': ['Blasting', 'Nickel', 'Metallic Red'],
        'quantity': 2,
        'country': 'UK',
        'state': 'London',
        'shipping': 'rush',
        'created_at': '2018/10/07',
        'activated_at': '2018/10/12',
        'status': 'activated'
    }, {
        'id': 2,
        'file': 'Image',
        'material': 'Copper 101',
        'finishes': ['Black Oxide', 'Laser Marking', 'Metallic Blue'],
        'quantity': 2,
        'country': 'USA',
        'state': 'NY',
        'shipping': 'economic',
        'created_at': '2018/09/07',
        'activated_at': '2018/10/12',
        'status': 'disactivated'
    }, {
        'id': 3,
        'file': 'Image',
        'material': 'Aluminum 2024',
        'finishes': ['Blasting', 'Nickel', 'Metallic Red'],
        'quantity': 2,
        'country': 'UK',
        'state': 'London',
        'shipping': 'rush',
        'created_at': '2018/10/07',
        'activated_at': '2018/10/12',
        'status': 'activated'
    }, {
        'id': 4,
        'file': 'Image',
        'material': 'Aluminum 2024',
        'finishes': ['Blasting', 'Nickel', 'Metallic Red'],
        'quantity': 2,
        'country': 'UK',
        'state': 'London',
        'shipping': 'rush',
        'created_at': '2018/10/07',
        'activated_at': '2018/10/12',
        'status': 'activated'
    }, {
        'id': 5,
        'file': 'Image',
        'material': 'Aluminum 2024',
        'finishes': ['Blasting', 'Nickel', 'Metallic Red'],
        'quantity': 2,
        'country': 'UK',
        'state': 'London',
        'shipping': 'rush',
        'created_at': '2018/10/07',
        'activated_at': '2018/10/12',
        'status': 'activated'
    }];    

    reqs_to_ul(reqs, '.request-list');

    $('#filter-board').keyup(function(e) {
        let filteredValue = $(e.target).val();

        if(filteredValue === "") {
            reqs_to_ul(reqs, '.request-list');
            return;
        }else {
            reqs_to_ul(reqs.filter(function(item) {
                for(let key in item)
                    if(item.hasOwnProperty(key) && item[key].toString().startsWith(filteredValue) || item[key].toString().endsWith(filteredValue))
                        return true;
                return false;
            }), '.request-list');
        }

    });
</script>