<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>

        <link href="../static/clients/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../static/clients/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="../static/clients/css/style.css" rel="stylesheet" type="text/css" />
        <link href="../static/clients/css/clients.css" rel="stylesheet" type="text/css" />
        <link href="../static/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <p class="text-center"></p>
        </header>	

		<div class="container-fluid">
			<div class="register card-box bg-custom col-md-6 mx-auto p-0">
				<div class="d-flex justify-content-center">
					<div class="left mr-auto col-4 d-flex align-items-center">
						<div>
							<h1 class="w-100">Welcome to machine shop</h1>
							<h5>Login to your account or create new one and let's go!!</h5>
				
							<a class="btn btn-dark" href="{{login_url}}">Login</a>
						</div>
					</div>
					<div class="right ml-auto col-8">
						<h3 class="header-title text-center m-t-30 m-b-5">Signup</h3>
						<h5 class="text-muted text-center m-t-5 m-b-20">Register to new account is free</h5>

						<div class="alert alert-warning px-0 mx-4">
							<ul class="alert-message">
								<li>Some errors, check your data and retry</li>
							</ul>
						</div>

						<form class="form register-form" method="POST" action="signup" autocomplete="off">
							<div class="form-group">
								<label for="name fade ml-1"></label>
								<input type="text" name="name" required="required" placeholder="Name" class="form-control custom-from-control" id="name">
							</div>
							
							<div class="form-group">
								<label for="email fade ml-1"></label>
								<input type="email" name="email" required="required" placeholder="E-mail" class="form-control custom-from-control" id="email">
							</div>

							<div class="form-group">
								<label for="password fade ml-1"></label>
								<input type="password" name="password" required="required" placeholder="Password" class="form-control custom-from-control" id="password">
							</div>

							<div class="form-group">
								<label for="password_confirmation fade ml-1"></label>
								<input type="password" name="password_confirmation" required="required" placeholder="Confirm password" class="form-control custom-from-control" id="password_confirmation">
							</div>

							<div class="form-group">
								<label for="phone_number fade ml-1"></label>
								<input type="tel" name="phone_number" required="required" placeholder="Phone number" class="form-control custom-from-control" id="phone_number">
							</div>

							<div class="form-group">
								<label for="company fade ml-1"></label>
								<input type="text" name="company" required="" placeholder="Company (optional)" class="form-control custom-from-control" id="company">
							</div>

							<div class="form-group">
								<button class="btn btn-primary btn-sm" type="submit">Submit</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<footer>
            <p class="text-center"></p>
        </footer>
        
        <script src="../static/clients/js/modernizr.min.js"></script>

        <script src="../static/clients/js/jquery.min.js"></script>
        <script src="../static/clients/js/jquery.blockUI.js"></script>
        <script src="../static/clients/js/jquery.nicescroll.js"></script>
        <script src="../static/clients/js/jquery.slimscroll.js"></script>
        <script src="../static/clients/js/jquery.scrollTo.min.js"></script>
        <script src="../static/clients/js/popper.min.js"></script>
        <script src="../static/clients/js/bootstrap.min.js"></script>
        <script src="../static/clients/js/detect.js"></script>
        <script src="../static/clients/js/fastclick.js"></script>
        <script src="../static/clients/js/waves.js"></script>
        <script src="../static/clients/js/wow.min.js"></script>

        <script src="../static/plugins/switchery/switchery.min.js"></script>
        <script src="../static/clients/js/jquery.core.js"></script>
        <script src="../static/clients/js/jquery.app.js"></script>
        
        <script src="../static/clients/js/clients.js"></script>
    </body>
</html>