#guide-design-tips-modal,
#guide-machining-tips-modal,
#guide-material-selection-modal {
    font-family: 'gilroy', 'gilroy-light', Arial, sans-serif;
    z-index: 100000;
    background-color: rgba(50,50,50,0.5);
}
#guide-design-tips-modal strong,
#guide-machining-tips-modal strong,
#guide-material-selection-modal strong {
    font-family: 'gilroy-extrabold', 'gilroy', 'gilroy-light', Arial, sans-serif;
}
#guide-design-tips-modal .modal-content,
#guide-machining-tips-modal .modal-content,
#guide-material-selection-modal .modal-content {
    border-radius: 12px;
}
#guide-design-tips-modal .modal-content,
#guide-machining-tips-modal .modal-content,
#guide-material-selection-modal .modal-content {
    max-width: 760px;
}
#guide-design-tips-modal .modal-dialog,
#guide-machining-tips-modal .modal-dialog,
#guide-material-selection-modal .modal-dialog {
    width: 760px;
}
#guide-design-tips-modal .modal-header,
#guide-machining-tips-modal .modal-header,
#guide-material-selection-modal .modal-header {
    border-bottom: none;
}
#guide-design-tips-modal .modal-footer,
#guide-machining-tips-modal .modal-footer,
#guide-material-selection-modal .modal-footer {
    background-color: #27549d;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 8px;
}

#guide-design-tips-modal ul,
#guide-machining-tips-modal ul,
#guide-material-selection-modal ul {
    list-style-type: disc;
    list-style-image: none;
    margin-left: 40px;
    margin-top: 15px;
}
#guide-design-tips-modal .modal-title,
#guide-machining-tips-modal .modal-title,
#guide-material-selection-modal .modal-title {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: bold;
    color: #345897;
}
.download-guide-modal .form-inline .guide-first-name, .download-guide-modal .form-inline .guide-email {
    display: inline-block;
    width: 49%;
    font-size: 20px;
    border-radius: 7px;
    height: 40px;
    margin-top: 4px;
}
.download-guide-modal .guide-download-btn {
    width: 100%;
    background-color: #67b585;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}
.download-guide-modal .guide-download-btn:hover {
    background-color: #7cca9a;
    border-color: #7cca9a;
}
#guide-popups-header-block {
    margin: 0 20px;
}
.download-guide-modal .modal-title-descr {
    margin-top: 10px;
}

@media only screen and (max-width: 840px) and (orientation: landscape) {
    #guide-design-tips-modal .modal-content,
    #guide-machining-tips-modal .modal-content,
    #guide-material-selection-modal .modal-content {
        overflow: scroll;
        max-height: 100vh;
    }

    #guide-design-tips-modal .modal-header,
    #guide-machining-tips-modal .modal-header,
    #guide-material-selection-modal .modal-header {
        padding-bottom: 0;
        padding-top: 0;
    }
    #guide-design-tips-modal .modal-title,
    #guide-machining-tips-modal .modal-title,
    #guide-material-selection-modal .modal-title {
        font-size: 25px;
        margin-bottom: 0;
        line-height: 1;
    }
    #guide-design-tips-modal .modal-header ul,
    #guide-machining-tips-modal .modal-header ul,
    #guide-material-selection-modal .modal-header ul {
        margin: 0 30px;
    }
    #guide-design-tips-modal .modal-body,
    #guide-machining-tips-modal .modal-body,
    #guide-material-selection-modal .modal-body {
        padding-top: 0;
    }
    .download-guide-modal .modal-header img.img-guide {
        display: block;
        max-width: 180px;
    }
    .download-guide-modal .modal-body img.img-guide {
        display: none;
    }
    .download-guide-modal .form-inline {
        text-align: center;
    }
    .download-guide-modal .form-inline .guide-first-name, .download-guide-modal .form-inline .guide-email {
        font-size: 18px;
        height: 33px;
        width: 49%;
        display: inline-block;
    }
    .download-guide-modal .guide-download-btn {
        font-size: 20px;
        padding: 4px;
    }
    .download-guide-modal .i-agree-cb {
        margin: 5px 0 0 0;
    }
    .download-guide-modal .i-agree-cb > label {
        font-size: 16px;
    }
    .download-guide-modal li {
        font-size: 15px;
        line-height: 15px;
    }
    .download-guide-modal .modal-body .form-group {
        margin-bottom: 5px;
    }
    .download-guide-modal .modal-title-descr {
        margin-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    #guide-design-tips-modal .modal-content,
    #guide-machining-tips-modal .modal-content,
    #guide-material-selection-modal .modal-content {
        overflow: scroll;
        max-height: 100vh;
    }

    #guide-design-tips-modal .modal-dialog,
    #guide-machining-tips-modal .modal-dialog,
    #guide-material-selection-modal .modal-dialog {
        width: auto;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    #guide-design-tips-modal .modal-content,
    #guide-machining-tips-modal .modal-content,
    #guide-material-selection-modal .modal-content {
        overflow: scroll;
        max-height: 100vh;
    }

    .download-guide-modal li {
        font-size: 15px;
    }
    .download-guide-modal .form-inline .guide-first-name, .download-guide-modal .form-inline .guide-email {
        width: 100%;
    }
    .download-guide-modal .img-guide {
        display: block;
    }
}

@media only screen and (max-width: 425px) {
    #guide-design-tips-modal .modal-content,
    #guide-machining-tips-modal .modal-content,
    #guide-material-selection-modal .modal-content {
        overflow: scroll;
        max-height: 100vh;
    }

    #guide-design-tips-modal .modal-title,
    #guide-machining-tips-modal .modal-title,
    #guide-material-selection-modal .modal-title {
        font-size: 17px;
        margin-bottom: 0;
        line-height: 1;
    }
    #guide-design-tips-modal .modal-header,
    #guide-machining-tips-modal .modal-header,
    #guide-material-selection-modal .modal-header {
        padding-bottom: 0;
    }
    #guide-design-tips-modal .modal-header ul,
    #guide-machining-tips-modal .modal-header ul,
    #guide-material-selection-modal .modal-header ul {
        margin: 0 0 0 20px;
    }
    #guide-design-tips-modal .modal-header ul > li, 
    #guide-machining-tips-modal .modal-header ul > li, 
    #guide-material-selection-modal .modal-header ul > li {
        line-height: 20px;
    }
    #guide-design-tips-modal .modal-body,
    #guide-machining-tips-modal .modal-body,
    #guide-material-selection-modal .modal-body {
        padding-top: 10px;
    }

    .download-guide-modal .img-guide {
        margin: 0 auto;
        height: 140px;
    }
    .download-guide-modal .modal-title-descr {
        font-size: 14px;
        margin-top: 10px;
    }
    .download-guide-modal .guide-popups-header-block {
        margin: 0;
    }
    .download-guide-modal .modal-body .form-group {
        margin-bottom: 5px;
    }
    .download-guide-modal .modal-body div.checkbox {
        margin-bottom: 0;
    }
    .download-guide-modal .modal-body div.checkbox > label {
        font-size: 14px;
        line-height: 26px;
    }
    .download-guide-modal .form-inline .guide-first-name, .download-guide-modal .form-inline .guide-email {
        height: 30px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 320px) {
    #guide-design-tips-modal .modal-content,
    #guide-machining-tips-modal .modal-content,
    #guide-material-selection-modal .modal-content {
        overflow: scroll;
        max-height: 100vh;
    }

    .download-guide-modal .img-guide {
        display: none;
    }
    .download-guide-modal .modal-title-descr {
        font-size: 13px;
        margin-top: 0;
    }
    .download-guide-modal .modal-body div.checkbox > label {
        font-size: 13px;
        line-height: 22px;
    }
    #guide-design-tips-modal .modal-header ul > li,
    #guide-machining-tips-modal .modal-header ul > li,
    #guide-material-selection-modal .modal-header ul > li {
        font-size: 13px;
        line-height: 15px;
    }
}