.upload-drop-zone {
    height: 280px;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 160px;
    color: black;
    border: 2px dashed #ccc;
    text-align: center;
    background: url(upload-dnd.png) no-repeat center 20px;
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
    background-color: #f9f9f9;
}
#upload-file-name {
    display: none;
    color: gray;
}
#upload-new-file {
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(184,184,184,0.7);
    -moz-box-shadow: 0px 10px 15px 0px rgba(184,184,184,0.7);
    box-shadow: 0px 10px 15px 0px rgba(184,184,184,0.7);
}



#emsform-quote-page div.dropdown-menu ul.dropdown-menu {
    padding: 0 0 8px 0;
}
#emsform-quote-page div.dropdown-menu li {
    display: block;
}

#emsform-quote-page textarea.ui-resizable {
    min-height: 39px;
}

#first-last-name, #email {
    width: 42%;
    max-width: 360px;
}
#dimensions {
    width: 163px;
}

#design-cad-remove, #design-pdf-remove {
    margin-right: 4px;
    float: left;
    text-decoration: none;
}
#design-cad-remove:hover, #design-pdf-remove:hover {
    color: red;
}


#email-alert, #upload-design-alert, #upload-additional-cad-alert, #upload-photos-alert {
    display: none;
    margin: 15px 0;
}
#upload-photos-alert {
    margin-bottom: 0;
}

#design-file-block .tooltip-inner {
    width: 500px;
    max-width: 500px;
}

#emsform-quote-page .tooltip.in {
    opacity: 1;
}

#emsform-quote-page textarea#written-design-description, #emsform-quote-page textarea#comments {
    height: 110px;
}

#emsform-quote-page .firstcol {
    width: 130px;
    float: left;
}

#emsform-quote-page .firstcol150 {
    width: 150px;
    float: left;
}

#emsform-quote-page .expshipping {
    display: none;
}



.material-alert .alert {
    padding: 0 12px;
    display: inline-block;
}

/* icons */
[class^="custicon-"],
[class*=" custicon-"] {
    display: inline-block;
    width: 16px;
    height: 18px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("custom-icons.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
    *margin-left: 0;
}
/* icons code below */
.custicon-info      { background-position: 0 0;     }
.custicon-warning   { background-position: -16px 0; }
.custicon-star      { background-position: -32px 0; }

#request-submitted-modal > .modal-dialog {
    z-index: 100000;
}

#request-submitted-modal {
    z-index: 100000;
    background-color: rgba(50,50,50,0.5);
}

#tooltip-surface-treatments {
    vertical-align: top;
}

div.emsform #dimensions-group label.radio-inline {
    margin-bottom: 10px;
}
div.emsform .form-group .form-inline label.ctrl-inline,
div.emsform .form-inline label.ctrl-inline {
    margin-bottom: 0;
}

div.emsform .form-group label.multiline {
    line-height: 20px;
    vertical-align: middle;
}


@media (max-width: 767px) {
    #first-last-name, #email {
        width: 100%;
        max-width: 100%;
    }
    #dimensions {
        width: 100%;
    }
    #design-file-block .tooltip-inner {
        width: 350px;
        max-width: 350px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #first-last-name, #email {
        width: 100%;
        max-width: 100%;
    }
    #dimensions {
        width: 100%;
    }
}