/*Submitted modal header overlay fix*/
#order-submitted-modal {
    z-index: 100001;
}

/*H1 title shift and font fix*/
h1.main_title {
    font-family: 'gilroy-light', Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
}
#emsform-order-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: none;
}


.rpadding {
    padding: 0 8px 0 0 !important;
}
#month-year-cvv-block {
    margin-right: 0;
}
#month, #year, #cvv {
    max-width: 90px;
}
.checkbox-right {
    width: 400px;
    float: right;
}
.add-another-quote-block {
    margin-top: 7px;
}

#img-cc-visa {
    width: 65px;
    height: 40px;
    background: url(../../../../uploads/forms/creditcards.png) 0 0;
}
#img-cc-mastercard {
    width: 65px;
    height: 40px;
    background: url(../../../../uploads/forms/creditcards.png) 65px 0;
}
#img-cc-discover {
    width: 65px;
    height: 40px;
    background: url(../../../../uploads/forms/creditcards.png) 130px 0;
}
#img-cc-americanexpress {
    width: 65px;
    height: 40px;
    background: url(../../../../uploads/forms/creditcards.png) 195px 0;
}

span.img-cc-active {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.img-cc {
    display: inline-block;
    opacity: 0.1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.input-icon {
    position: relative;
}
.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}
.input-icon > input {
    padding-left: 25px;
    padding-right: 0;
}

.quoted-price-pref {
    position: relative;
}
.quoted-price-pref:before {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 4;
    content: "";
}
.quoted-price-pref.has-sign:before {
    content: "$";
}

#quote-buttons-spacer {
    width: 32px;
    float: right;
}
#delete-last-quote {
    margin-left: 10px;
}

#emsform-order-page div.input-group input.form-control,
#emsform-order-page div.input-group textarea.form-control,
#emsform-order-page div.input-group select.form-control,
#emsform-order-page div.input-group div.bootstrap-select > button
{
    border-radius: 4px;
}

#emsform-order-page div.input-group > div.bootstrap-select {
    width: 100%;
}
#emsform-order-page div.input-group > div.bootstrap-select ul {
    padding: 15px 0px 15px 0;
}

.quote-details-item {
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px dotted #ececec;
}

.iconempty {
    width: 32px;
    background-image: none;
    display: inline-block;
}

.input-tooltip {
    line-height: 0;
    padding-left: 8px;
}
.lheight36 {
    line-height: 36px;
    margin-bottom: 0;
    vertical-align: middle;
}

.upload-threading-alert {
    margin: 15px 0;
}
.upload-threading-filename {
    margin-left: 20px;
}

#emsform-order-page textarea#comments,
#emsform-order-page textarea#function-of-part {
    height: 60px;
}

#order-submitted-modal > .modal-dialog {
    z-index: 100000;
}

#order-submitted-modal {
    background-color: rgba(50,50,50,0.5);
}

#email-alert {
    margin: 15px 0 0 0;
}

/* icons */
[class^="custicon-"],
[class*=" custicon-"] {
    display: inline-block;
    width: 16px;
    height: 18px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("custom-icons.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
    *margin-left: 0;
}
/* icons code below */
.custicon-info{ background-position: 0 0; }


@media (min-width: 1200px) {
    #month, #year, #cvv {
        max-width: 120px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #month, #year, #cvv {
        max-width: 100px;
    }
}
@media screen and (max-width: 768px) {
    #month, #year, #cvv {
        max-width: 95px;
    }
    div.input-tooltip-empty {
        width: 16px;
    }
}
@media screen and (max-width: 767px) {
    #month, #year, #cvv {
        width: 100%;
        max-width: 100%;
        margin-top: 8px;
    }
    div.row-spacer-xs {
        margin-top: 8px;
    }
}

@media screen and (max-width: 425px) {
    #month, #year, #cvv {
        width: 100%;
        max-width: 100%;
        margin-top: 8px;
    }
    div.row-spacer-xs {
        margin-top: 8px;
    }
}