<div class="card-box">
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item">Just From Machine Shop <span class="mdi mdi-check"></span></a>
            <a href="javascript:void(0);" class="dropdown-item">All Mails</a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item">Open with <i class="mdi mdi-gmail"></i></a>
        </div>
    </div>

    <h4 class="header-title mt-0 m-b-30">Inbox</h4>

    <div class="inbox-widget nicescroll" style="height: 100%;;">
        <a href="#">
            <div class="inbox-item">
                <div class="inbox-item-img"><img src="../static/admins/images/users/male.jpg" class="rounded-circle" alt=""></div>
                <p class="inbox-item-author">Chadengle</p>
                <p class="inbox-item-text">Hey! there I'm available...</p>
                <p class="inbox-item-date">13:40 PM</p>
            </div>
        </a>
        <a href="#">
            <div class="inbox-item">
                <div class="inbox-item-img"><img src="../static/admins/images/users/female.jpg" class="rounded-circle" alt=""></div>
                <p class="inbox-item-author">Tomaslau</p>
                <p class="inbox-item-text">I've finished it! See you so...</p>
                <p class="inbox-item-date">13:34 PM</p>
            </div>
        </a>
    </div>
</div>