<div class="container py-1">

    <div class="row pb-2">
            <div class="col-sm-12">
                <div class="btn-group pull-right m-t-20">
                    <!-- <button type="button" class="btn btn-light dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0);" class="dropdown-item">Show/Hide Requests</a>
                        <a href="javascript:void(0);" class="dropdown-item">Show/Hide Inbox</a>
                        <a href="javascript:void(0);" class="dropdown-item">Show/Hide Notifications</a>
                    </div> -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input box-toggler" type="checkbox" id="requests_toggle" value="d-inline" data-control="requests_box">
                        <label class="form-check-label" for="requests_toggle">Requests</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input box-toggler" type="checkbox" id="mailbox_toggle" value="d-inline" data-control="mail_box">
                        <label class="form-check-label" for="mailbox_toggle">Mailbox</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input box-toggler" type="checkbox" id="notifications_toggle" value="d-inline" data-control="notifications_box">
                        <label class="form-check-label" for="notifications_toggle">Notifications</label>
                    </div>
                </div>
                <h4 class="page-title"></h4>
            </div>
        </div>

    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card-box" id="requests_box">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <label class="dropdown-item badge badge-info">(empty set)</label>
                    </div>
                </div>

                <h4 class="header-title mt-0 m-b-30">Requests</h4>

                <table class="table table-striped table-responsive">
                    <thead class="col-12">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                        <th scope="col">Material</th>
                        <th scope="col">Finsihes</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Country</th>
                        <th scope="col">State</th>
                        <th scope="col">Shipping</th>
                        <th scope="col">Submit Date</th>
                        <th scope="col">Activate Date</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>CAD</td>
                            <td>Stainless Steel 301</td>
                            <td>Laser Marking, Metallic Red</td>
                            <td>2</td>
                            <td>UK</td>
                            <td>Liverpol</td>
                            <td>Economy</td>
                            <td>26/04/2018</td>
                            <td>31/04/2018</td>
                            <td><span class="badge badge-danger">Activated</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Images</td>
                            <td>Nylon</td>
                            <td>Laser Marking, Metallic Red</td>
                            <td>2</td>
                            <td>UK</td>
                            <td>Manchester</td>
                            <td>Economy</td>
                            <td>26/05/2018</td>
                            <td>28/05/2018</td>
                            <td><span class="badge badge-primary">Pending</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>CAD</td>
                            <td>Stainless Steel 301</td>
                            <td>Laser Marking, Metallic Red</td>
                            <td>2</td>
                            <td>Italy</td>
                            <td>Rome</td>
                            <td>Economy</td>
                            <td>25/06/2018</td>
                            <td>26/06/2018</td>
                            <td><span class="badge badge-warning">Rejected</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end requests projects-->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xs-12 col-md-6" id="notifications_box"></div>

        <div class="col-xs-12 col-md-6" id="mail_box"></div>
    </div>

</div>