<div class="sidebar-inner slimscrollleft">

    <!-- User -->
    <div class="user-box">
        <div class="user-img">
            <img src="../static/admins/images/users/male.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail img-responsive">
            <div class="user-status offline"><i class="mdi mdi-adjust"></i></div>
        </div>
        <h5><a href="profile.html">Mat Helme</a> </h5>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="account.html" >
                    <i class="mdi mdi-settings"></i>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="logout.html" class="text-custom">
                    <i class="mdi mdi-power"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- End User -->

    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul>
            <li class="text-muted menu-title">Navigation</li>

            <li>
                <a href="index.html" class="waves-effect"><i class="mdi mdi-home"></i> <span> Home </span> </a>
            </li>

            <li>
                <a href="requests_dashboard.html?q=all" class="waves-effect"><i class="mdi mdi-all-inclusive"></i> <span> Requests Dashboard </span> </a>
            </li>
            
            <li>
                <a href="requests_dashboard.html?q=activated" class="waves-effect"><i class="mdi mdi-check-all text-primary"></i> <span> Activated Requests </span> </a>
            </li>
            
            <li>
                <a href="requests_dashboard.html?q=delievered" class="waves-effect"><i class="mdi mdi-check-all text-success"></i> <span> Delievered Requests </span> </a>
            </li>
            
            <li>
                <a href="requests_dashboard.html?q=rejected" class="waves-effect"><i class="mdi mdi-check text-danger"></i> <span> Rejected Requests </span> </a>
            </li>
            
            <li>
                <a href="requests_dashboard.html?q=canceled" class="waves-effect"><i class="mdi mdi-check"></i> <span> Canceled Requests </span> </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>
</div>