<div class="card-box" >
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item">Stop recieve</a>
            <a href="javascript:void(0);" class="dropdown-item">Notification tone: <span class="bagde badge-success badge-pill px-1">on</span></a>
        </div>
    </div>

    <h4 class="header-title mt-0 m-b-30">Notifications</h4>

    <div class="notification-list nicescroll">
        <ul class="list-group list-no-border user-list">
            <li class="list-group-item">
                <a href="#" class="user-list-item">
                    <div class="avatar">
                        <img src="../static/admins/images/users/male.jpg" alt="">
                    </div>
                    <div class="user-desc">
                        <span class="name">Michael Zenaty</span>
                        <span class="desc">There are new settings available</span>
                        <span class="time">2 hours ago</span>
                    </div>
                </a>
            </li>
            
            <li class="list-group-item ">
                <a href="#" class="user-list-item">
                    <div class="icon bg-info">
                        <i class="mdi mdi-account"></i>
                    </div>
                    <div class="user-desc">
                        <span class="name">New Signup</span>
                        <span class="desc">There are new settings available</span>
                        <span class="time">5 hours ago</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>