<div class="request col-md-8 mx-auto pt-4">

    <div class="card-box">

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Note!</strong> You still can edit the request until we send the quote for you. Any editing after that
            will make your request push again in the queue.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th colspan="2">
                    <div class="text-right pull-right">
                        <span class="badge badge-primary">Activated</span>
                        <span class="badge badge-success">Delivered</span>
                        <span class="badge badge-danger">Rejected</span>
                        <span class="badge badge-warning">Canceled</span>

                        <div class="dropdown pull-right">

                            <a href="#" class="dropdown-toggle arrow-none card-drop mx-2 my-0" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
    
                                <a href="" class="dropdown-item notify-item">
                                    reject
                                </a>
                                <a href="" class="dropdown-item notify-item">
                                    deliever
                                </a>
                                <a href="" class="dropdown-item notify-item">
                                    cancel
                                </a>
                                <a href="" class="dropdown-item notify-item">
                                    download quotation
                                </a>
    
                            </div>
                        </div>
                    </div>

                    <h4 class="card-title text-uppercase text-left font-weight-bold">Request Details</h4>
                </th>
            </tr>
            </thead>

            <tbody class="request-body">
            <tr>
                <td  class="text-muted">Request ID</td>
                <td>#1</td>
            </tr>
            <tr>
                <td  class="text-muted">Material</td>
                <td>Aluminum 2024</td>
            </tr>
            <tr>
                <td  class="text-muted">Finishes</td>
                <td>
                    <ul class="list px-0" style="list-style: inside square">
                        <li>Mechanical - Buff Polishing</li>
                        <li>Mechanical - Brushing</li>
                        <li>Electroplate - Copper</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td  class="text-muted">Quantity</td>
                <td><span class="badge badge-secondary badge-pill">3</span> Piece(s)</td>
            </tr>
            <tr>
                <td class="text-muted">Type</td>
                <td class="font-weight-bold">Images/Text</td>
            </tr>
            <tr>
                <td>Attachments</td>
                <td class="">
                    <div style="overflow-y: auto; max-height: 384px" class="d-flex align-content-stretch flex-wrap" id="images">
                        <img src="https://picsum.photos/128/128/?random" alt="128 X 128" class="img-fluid m-1"
                                onclick="viewImageInModal(event, $('#gallery'))"/>
                        <img src="https://picsum.photos/128/128/?random" alt="128 X 128" class="img-fluid m-1"
                                onclick="viewImageInModal(event, $('#gallery'))"/>
                        <img src="https://picsum.photos/128/128/?random" alt="128 X 128" class="img-fluid m-1"
                                onclick="viewImageInModal(event, $('#gallery'))"/>
                        <img src="https://picsum.photos/128/128/?random" alt="128 X 128" class="img-fluid m-1"
                                onclick="viewImageInModal(event, $('#gallery'))"/>
                        <img src="https://picsum.photos/128/128/?random" alt="128 X 128" class="img-fluid m-1"
                                onclick="viewImageInModal(event, $('#gallery'))"/>
                        <img src="https://picsum.photos/128/128/?random" alt="128 X 128" class="img-fluid m-1"
                                onclick="viewImageInModal(event, $('#gallery'))"/>
                        <img src="https://picsum.photos/128/128/?random" alt="128 X 128" class="img-fluid m-1"
                                onclick="viewImageInModal(event, $('#gallery'))"/>
                        
                        <button class="btn btn-danger m-1 py-5 text-center" style="width:128px;height:128px"
                        onclick="viewPDFInModal(event, $('#gallery'))" >PDF</button>
                    </div>
                </td>
            </tr>

            <tr>
                <td  class="text-muted">Country</td>
                <td>USA</td>
            </tr>

            <tr>
                <td  class="text-muted">State</td>
                <td>NY</td>
            </tr>
            <tr>
                <td  class="text-muted">Shipping</td>
                <td>Economy</td>
            </tr>
            <tr>
                <td  class="text-muted">Comments</td>
                <td>
                    <p>The plan was to do only one trailer for our kids' high school band. Now, high schools around the
                        country want one of our trailers! We now have a two-year waiting list for our trailers, and ALL
                        machined parts come from eMachineShop</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" role="dialog" id="gallery">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark">
            <button type="button" class="close text-white d-absolute" data-dismiss="modal" aria-label="Close" onclick="hideModalChilren($('#gallery'))">
                <span aria-hidden="true">&times;</span>
            </button>

            <img src="" class="w-100 img-fluid mx-auto d-none"/>
            <p class="px-2 pt-3 text-center d-none"></p>
        </div>
    </div>
</div>
