<div class="container-fluid">
    <div class="row">
        <div class="mx-auto mt-3 col-10">
            <div class="card-box table-responsive">
                <h4 class="m-t-0 header-title">Request FQ</h4>
                <p class="text-muted font-14 m-b-30">
                    All requests will be shown in this list below.
                </p>

                <table id="datatable" class="table table-hover table-bordered">
                    <thead></thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>