<li>
    <div class="card-box kanban-box">
        <div class="kanban-detail">
            <span class="badge badge-warning pull-right status">Rejected</span>
            <h4 class="id"><a href="requests_show.html">Request #001</a></h4>
            <ul class="d-flex justify-content-start">
                <li class="list-inline-item request-item client">
                    <button href="request_show.html" class="request-item-body btn btn-sm waves-effect waves-light" data-toggle="popover" data-contentt="#client_content" data-title="Client" >
                        <img src="../static/admins/images/users/male.jpg" alt="img" class="thumb-sm rounded-circle mr-auto icon">
                    </button>

                    <div id="client_content" class="d-none">
                        <ul class="list-group custom-popover">
                            <li class="list-group-item">Cristiano Ronaldo</li>
                        </ul>
                    </div>
                </li>

                <li class="list-inline-item request-item type">
                    <button href="request_show.html" class="request-item-body btn btn-sm waves-effect waves-light" data-toggle="popover" data-contentt="#type_content" data-title="Type">
                        <i class="fa fa-tasks fa-2x"></i>
                    </button>
                    
                    <div id="type_content" class="d-none">
                        <ul class="list-group custom-popover">
                            <li class="list-group-item">CAD</li>
                        </ul>
                    </div>
                </li>
                
                <li class="list-inline-item request-item request-item material">
                    <button href="request_show.html" class="request-item-body btn btn-sm waves-effect waves-light" data-toggle="popover" data-contentt="#material_content" data-title="Material">
                        <i class="fa fa-connectdevelop fa-2x"></i>
                    </button>
                    
                    <div id="material_content" class="d-none">
                        <ul class="list-group custom-popover">
                            <li class="list-group-item">Brass 260</li>
                        </ul>
                    </div>
                </li>
                
                <li class="list-inline-item request-item finishes">
                    <button href="request_show.html" class="request-item-body btn btn-sm waves-effect waves-light" data-toggle="popover" data-contentt="#finishes_content" data-title="Finishes">
                        <i class="fa fa-connectdevelop fa-2x"></i>
                    </button>

                    <div id="finishes_content" class="d-none">
                        <ul class="list-group custom-popover">  
                            <li class="list-group-item">Vibratory Polishing</li>
                            <li class="list-group-item">Copper</li>
                            <li class="list-group-item">Metallic Red</li>
                        </ul>
                    </div>
                </li>

                <li class="list-inline-item request-item quantity">
                    <button href="request_show.html" class="request-item-body btn btn-sm waves-effect waves-light" data-toggle="popover" data-contentt="#quantity_content" data-title="Quantity">
                        <i class="fa fa-calculator fa-2x"></i>
                        
                        <div id="quantity_content" class="d-none">
                            <ul class="list-group custom-popover">
                                <li class="list-group-item">2 piece(s)</li>
                            </ul>
                        </div>
                    </button>
                </li>
                
                <li class="list-inline-item request-item address">
                    <button href="request_show.html" class="request-item-body btn btn-sm waves-effect waves-light" data-toggle="popover" data-contentt="#address_content" data-title="Address">
                        <i class="fa fa-map-marker fa-2x"></i>
                        
                        <div id="address_content" class="d-none">
                            <ul class="list-group custom-popover">
                                <li class="list-group-item">UK, London</li>
                            </ul>
                        </div>
                    </button>
                </li>

                <li class="list-inline-item request-item shipping">
                    <button href="request_show.html" class="request-item-body btn btn-sm waves-effect waves-light" data-toggle="popover" data-contentt="#shipping_content" data-title="Shipping">
                        <i class="fa fa-ship fa-2x"></i>
                        
                        <div id="shipping_content" class="d-none">
                            <ul class="list-group custom-popover">
                                <li class="list-group-item">Economy</li>
                            </ul>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</li>