#emsform-quote-page div.dropdown-menu ul.dropdown-menu {
    padding: 0 0 8px 0;
}
#emsform-quote-page div.dropdown-menu li {
    display: block;
}

#emsform-quote-page textarea.ui-resizable {
    min-height: 39px;
}

#first-last-name, #email {
    width: 42%;
    max-width: 360px;
}
#dimensions {
    width: 163px;
}

#email-alert, #upload-design-alert, #upload-additional-alert, #upload-photos-alert {
    display: none;
    margin: 15px 0;
}
#upload-photos-alert {
    margin-bottom: 0;
}

#design-file-block .tooltip-inner {
    width: 500px;
    max-width: 500px;
}

#emsform-quote-page .tooltip.in {
    opacity: 1;
}

#emsform-quote-page textarea#written-design-description, #emsform-quote-page textarea#comments {
    height: 110px;
}

#emsform-quote-page .firstcol {
    width: 130px;
    float: left;
}

#emsform-quote-page .firstcol150 {
    width: 150px;
    float: left;
}

#emsform-quote-page .expshipping {
    display: none;
}



#general-controls .stl-obj-alert, #general-controls .opaque-alert {
    display: inline-block;
    font-size: 15px;
    padding: 5px 10px;
}
#stl-obj-alert-mobile, #opaque-alert-mobile {
    width: 100%;
}
#quantity-alert-desktop {
    margin-right: 6px;
    width: 310px;
    display: none;
}
.stl-obj-alert .alert, .opaque-alert .alert {
    padding: 0 12px;
    display: inline-block;
}

/* icons */
[class^="custicon-"],
[class*=" custicon-"] {
    display: inline-block;
    width: 16px;
    height: 18px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("custom-icons.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
    *margin-left: 0;
}
/* icons code below */
.custicon-info      { background-position: 0 0;     }
.custicon-warning   { background-position: -16px 0; }
.custicon-star      { background-position: -32px 0; }

#request-submitted-modal > .modal-dialog {
    z-index: 100000;
}

#request-submitted-modal {
    z-index: 100000;
    background-color: rgba(50,50,50,0.5);
}

#tooltip-surface-treatments {
    vertical-align: top;
}

div.emsform .form-group .form-inline label.ctrl-inline {
    margin-bottom: 0;
}

div.emsform .form-group label.multiline {
    line-height: 20px;
    vertical-align: middle;
}


@media (max-width: 767px) {
    #first-last-name, #email {
        width: 100%;
        max-width: 100%;
    }
    #dimensions {
        width: 100%;
    }
    #design-file-block .tooltip-inner {
        width: 350px;
        max-width: 350px;
    }
}

@media screen and (max-width: 425px) {
    .material-finish-dropdown li.dropdown-header {
        padding: 3px 5px;
    }
    #quantity-material-finish-block .material-finish-dropdown li > a {
        padding-left: 5px;
    }
    #quantity-material-finish-block .material-finish-dropdown li > a > span.text {
        font-size: 16px;
    }
    #quantity-material-finish-block .material-finish-dropdown li > a > span.glyphicon {
        right: 15px;
    }
}

@media screen and (max-width: 320px) {
    .material-finish-dropdown li.dropdown-header {
        padding: 3px 5px;
    }
    #quantity-material-finish-block .material-finish-dropdown li > a {
        padding-left: 5px;
    }
    #quantity-material-finish-block .material-finish-dropdown li > a > span.text {
        font-size: 13px;
    }
    #quantity-material-finish-block .material-finish-dropdown li > a > span.glyphicon {
        right: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #first-last-name, #email {
        width: 240px;
    }
    #dimensions {
        width: 100%;
    }
}