#emsform-instant-quote-page1,#emsform-instant-quote-page2,#emsform-instant-quote-page3 {
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 10px;
}

#btn-modify-quote, #btn-new-file-quote {
    min-width: 100px;
}

#processing-hint-block, #processing-dbginfo-block {
    font-weight: normal;
    color: #aaa;
    text-align: justify;
    line-height: 17px;
    margin-top: 10px;
    font-size: 17px;
}

#processing-error-heading {
    font-weight: bold;
}
#processing-error-reason a {
    color: red;
}

#contact-info-modal .modal-body > div {
    padding: 0 60px 15px 60px;
}


/* 3rd screen - Order */
#panel-summary > .panel-body {
    padding: 10px 15px 0 30px;
}
#panel-summary hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
#panel-summary, #panel-shipping-speed {
    font-size: 16px;
    color: black;
}
#page3-subtotal-block {
    margin: 10px -15px 0 -30px;
    background-color: #f1f0f2;
    padding: 10px 15px;
}
#page3-total-row {
    font-size: 24px;
    font-weight: bold;
}

#payment-nav-tabs {
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #bbb;
}
#payment-nav-tabs li {
    margin: 0 5px;
}
#payment-nav-tabs li > a {
    background-color: white;
    padding: 5px 15px;
    border-radius: 0;
    cursor: pointer;
}
#payment-nav-tabs li > a:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
}
#payment-nav-tabs li:first-child {
    margin-left: 50px;
}
#payment-nav-tabs li.active {
    border-bottom: 1px solid #f1f1f3;
    margin-bottom: -1px;
}
#payment-nav-tabs li.active > a {
    background-color: transparent;
    border-radius: 0;
    padding: 5px 15px;
    border: 1px solid #bbb;
    border-bottom: 1px solid #f1f1f3;
    cursor: default;
}
#payment-nav-tabs a {
    text-decoration: none;
}
#page3-step2 div.panel-body > div.tab-content {
    margin: 25px;
}

#page3-billing-address,
#page3-billing-address-title {
    color: gray;
}
#page3-billing-address-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}
#page3-shipping-address {
    padding: 0;
    color: black;
    font-size: 18px;
}
#btn-edit-shipping-address {
    display: none;
    margin-top: -5px;
    background-color: #515151;
    border-radius: 0;
    color: white;
    min-width: 80px;
    font-weight: bold;
}
#btn-edit-shipping-address:hover {
    background-color: #626262;
}


div.emsform div.panel-square,
div.emsform div.panel-square-white {
    box-shadow: none;
}
div.emsform div.panel-square-white {
    border-top: 0;
    border-bottom: 0;
}
.rborder-top {
    border-radius: 5px 5px 0 0 !important;
}
.rborder-bottom {
    border-radius: 0 0 5px 5px !important;
}
div.emsform .panel-processed,
div.emsform .panel-processed > .panel-heading,
div.emsform .panel-processed > .panel-heading > .panel-header-title > a {
    cursor: pointer;
}
.panel-square-disabled > .rborder-top,
.panel-processed > .rborder-top{
    border-radius: 5px !important;
}
.panel-square > .panel-heading,
.panel-square-white > .panel-heading{
    color: white;
    padding: 20px;
    background-color: #194fa5;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
}
.panel-square-disabled > .panel-heading,
.panel-processed > .panel-heading {
    background-color: #f1f0f2;
    color: #606060;
    border-radius: 5px;
}
.panel-square .panel-body {
    background-color: #f1f1f3;
    border: none;
    padding: 30px;
}
.panel-square-white .panel-body {
    background-color: white;
    border: 1px solid #bdbdbd;
    padding: 15px 30px;
}
.panel-square .panel-header-title {
    margin-right: 20px;
}
.panel-square .panel-header-title > a > span,
#page3-shipping-panel-title > a > span,
#page3-shipping-panel-title > span {
    padding-right: 20px;
}
#page3-shipping-panel-title {
    margin-right: 20px;
}
.panel-processed #page3-shipping-panel-title {
    color: #aaa;
}
.panel-square-disabled #page3-shipping-address {
    font-weight: bold;
}



div.emsform input.flat-input,
div.emsform select.flat-input,
#emsform-instant-quote-page3 div.input-group > #cvv,
#emsform-instant-quote-page3 div.input-col > div.bootstrap-select > button[data-id="page3-country"] {
    border-radius: 0;
    border: 1px solid #b0b0b0;
    height: 40px;
}
#emsform-instant-quote-page3 div.input-group > #cvv {
    max-width: 95px;
}

#card-number {
    min-width: 273px;
}

div.emsform div.input-col {
    padding-right: 40px;
}
#btn-next-step-1, #btn-next-step-2, #btn-submit {
    border: none;
    padding: 8px 30px;
    font-size: 20px;
    font-weight: bold;
}
#btn-submit {
    font-size: 24px;
}
#page3-shipping-note {
    color: red;
    font-size: 15px;
    margin-top: 10px;
}
#page3-agree-block {
    max-width: 435px;
}
#page3-upload-additional-alert {
    display: none;
    margin-top: 10px;
}

div.emsform .panel-active > .panel-heading a,
div.emsform .panel-active > .panel-heading,
#panel-summary > .panel-heading,
#panel-shipping-speed > .panel-heading {
    cursor: default;
}

div.emsform .panel-square .panel-heading a.clickable,
div.emsform .panel-square .panel-heading a.clickable:hover {
    color: #aaa;
}

div.emsform .panel-square .panel-heading a.unclickable,
div.emsform .panel-square .panel-heading a.unclickable:hover {
    cursor: not-allowed;
    color: silver;
}
div.emsform .panel-square-disabled > .panel-heading {
    cursor: not-allowed;
}
div.emsform .panel-square .panel-heading a {
    color: white;
}
div.emsform .panel-square .panel-heading a:after {
    content: "";
}


.input-tooltip {
    line-height: 0;
    padding-left: 8px;
    min-width: 32px;
}


.material-alert, .opaque-alert {
    display: none;
}
.material-alert .alert, .opaque-alert .alert {
    padding: 5px 10px;
}

.ems-img-background {
    background-image: url('background-image.jpg');
}

#order-details-price {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

#email-alert, #upload-threading-alert {
    display: none;
    margin: 15px 0 0 0;
}

#special-shipping-instructions, #other-instructions, #function-of-part {
    height: 64px;
}

#processing-manual-quote-button {
    min-height: 130px;
}
#processing-manual-quote {
    height: 130px;
}
#btn-manual-quote {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#trusted-by {
    background: url('grey-box-background.jpg') repeat;
    height: 420px;
}
#trusted-by td {
    height: 420px;
    text-align: center;
    padding: 0;
}

.entry-content {
    padding-bottom: 0;
}

#panel-design-file {
    border-radius: 10px;
    border: 0;
}
#panel-design-file .panel-heading {
    background-color: #092e46;
    min-height: 110px;
    color: white;
    cursor: default;
    padding: 0 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#panel-design-file .panel-body {
    padding: 30px 15px 40px 15px;
}
#panel-design-file .panel-heading > .row {
    height: 110px;
    background: url(../../../../uploads/forms/ems-beta-icon.png) no-repeat right center;
}

#col-thickness {
    margin: 35px 0;
    display: none;
}
#thickness {
    display: inline-block;
    width: 120px;
    margin-left: 5px;
    margin-right: 10px;
}
#btn-contact-info-submit {
    border-radius: 20px;
    min-width: 180px;
    font-size: 20px;
}
#file-name-label {
    vertical-align: bottom;
}
#btn-new-file-quote {
    font-weight: bold;
    height: 25px;
    padding-top: 2px;
    margin-left: 4px;
}
#btn-upload-design, #btn-get-quote {
    vertical-align: baseline;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    height: 45px;
    width: 150px;
}
#btn-upload-design:focus {
    box-shadow: 0 0 3pt 2pt #0aa8f8;
}
#btn-get-quote:focus {
    box-shadow: 0 0 3pt 2pt #41843d;
}
#btn-contact-info-submit:focus {
    box-shadow: 0 0 3pt 2pt #46c160;
    outline: none;
}

#table-lead-time {
    border: none;
    display: none;
}
#table-lead-time > thead > tr > th {
    border-bottom: 1px solid gray;
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    padding: 2px;
}
#table-lead-time > tbody > tr > td {
    font-size: 14px;
    font-weight: normal;
    padding: 2px 0;
    line-height: 30px;
    border-top: none;
}
#table-lead-time > tbody > tr > td.col-radiobutton {
    width: 35px;
}


#btn-modify-quote {
    font-weight: bold;
    height: 30px;
    padding-top: 5px;
    display: none;
}
#btn-place-order {
    margin-top: 4px;
    font-size: 20px;
    background-color: #1ec279;
    font-weight: bold;
}
#btn-place-order:hover, #btn-place-order:focus {
    background-color: #1ea760;
}

#btn-place-order-block {
    margin: 10px 0;
}
#place-order-note, #call-bestpricing-note {
    text-align: left;
    line-height: 16px;
    font-size: 15px;
    color: silver;
    background-color: #164463;
    padding: 6px;
}
#place-order-note {
    border-left: 2px solid #0ca0f0;
}
#call-bestpricing-note {
    display: none;
    border-left: 2px solid #dc5e20;
    margin-bottom: 10px;
}

#place-order-block {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 15px;
}
#total-price {
    font-weight: bold;
}

.subtotal-tax-shipping {
    font-size: 15px;
    text-align: center;
    border-right: 1px solid gray;
}

.emsform button.btn-green {
    background-color: #50d46c;
}
.emsform button.btn-darkgreen {
    background-color: #1ec279;
}
.emsform button.btn-darkgreen:hover {
    background-color: #1eb66d;
}
.emsform button.btn-blue {
    background-color: #0aa0f0;
}
.emsform button.btn-blue:hover, .emsform button.btn-blue:focus {
    background-color: #0a89d6;
}
.emsform button.btn-orange, .emsform a.btn-orange {
    background-color: #ec602c;
}
.emsform button.btn-orange:hover, .emsform button.btn-orange:focus,
.emsform a.btn-orange:hover, .emsform a.btn-orange:focus{
    background-color: #c95f2c;
}

#upload-design-alert {
    white-space: nowrap;
    color: #e27070;
}

/* Custom icons */
[class^="custicon-"],
[class*=" custicon-"] {
    display: inline-block;
    width: 16px;
    height: 18px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("custom-icons.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="cus-"]:last-child,
[class*=" cus-"]:last-child {
    *margin-left: 0;
}
.custicon-info      { background-position: 0 0;     }
.custicon-warning   { background-position: -16px 0; }
.custicon-star      { background-position: -32px 0; }


#contact-info-modal > .modal-dialog {
    z-index: 100000;
}
#contact-info-modal {
    z-index: 100000;
    background-color: rgba(50,50,50,0.5);
}


/* Processing (page 2) styles */
#panel-quote-processing {
    border: transparent;
    background-color: transparent;
}
#panel-quote-processing .panel-heading {
    background-color: #515860;
    border-color: #515860;
    border-left: none;
    border-right: none;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    cursor: default;
    border-radius: 8px 8px 0 0;
}
#panel-quote-processing .panel-body {
    border-color: #092e46;
    background-color: #092e46;
    color: white;
    border-radius: 8px;
}
#panel-quote-processing label {
    margin-bottom: 0;
}
#panel-quote-processing input,
#panel-quote-processing select,
#processing-select-params div.bootstrap-select > button,
#processing-material-block > div > div.multiviewdd > button,
#processing-finish-block > div > div.multiviewdd > button {
    background-color: #0aa0f0;
    border: 2px solid #0e70a4;
    font-weight: bold;
    height: 28px;
    padding: 0 8px;
    color: white;
    border-radius: 0;
}
#panel-quote-processing select {
    padding: 0 4px;
}
#processing-select-params div.bootstrap-select {
    background: none;
    border: none;
    padding: 0;
}
#processing-select-params label {
    font-size: 16px;
}

#processing-material-block div.multiviewdd, #processing-finish-block div.multiviewdd {
    height: auto;
}

#processing-error-heading, #processing-error-reason {
    color: red;
}
.emsform div.col-mid-border {
    min-height: 130px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}


#img-cc-visa {
    width: 65px;
    height: 40px;
    background: url(../../../../uploads/forms/creditcards_gray.png) 0 0;
}
#img-cc-mastercard {
    width: 65px;
    height: 40px;
    background: url(../../../../uploads/forms/creditcards_gray.png) 65px 0;
}
#img-cc-discover {
    width: 65px;
    height: 40px;
    background: url(../../../../uploads/forms/creditcards_gray.png) 130px 0;
}
#img-cc-americanexpress {
    width: 65px;
    height: 40px;
    background: url(../../../../uploads/forms/creditcards_gray.png) 195px 0;
}

span.img-cc-active {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.img-cc {
    display: inline-block;
    opacity: 0.1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#sw-images-block {
    display: none;
    margin-top: 20px;
    border-top: 1px solid gray;
}
#sw-images-block .btn-group > .btn-sw-image {
    background-color: #0aa0f0;
    border-color: #0e70a4;
    border-radius: 0;
}
#sw-images-block .btn-group > .btn-sw-image:hover,
#sw-images-block .btn-group > .btn-sw-image:active {
    background-color: #0a90e1;
    border-color: #0e6599;
}
#sw-images-block .btn-group > .active {
    background-color: #066db5;
    border-color: #0e5185;
}



@media screen and (max-width: 1024px) {
    #panel-quote-processing .panel-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #place-order-block {
        position: relative;
        right: 0;
    }
    #contact-info-modal .modal-body > div {
        padding: 0 20px 15px 20px;
    }
}

@media screen and (max-width: 768px) {
    #col-thickness {
        margin: 15px 0;
    }
    #thickness {
        margin: 0;
        width: 100%;
    }
    #panel-design-file .panel-heading {
        padding: 0 30px;
    }
    #panel-design-file .panel-body {
        padding: 10px 15px 40px 15px;
    }
    #trusted-by {
        background: url('grey-box-background.jpg') repeat;
        height: 240px;
    }
    #trusted-by td {
        height: 240px;
        text-align: center;
    }
    #place-order-block {
        position: relative;
        right: 0;
    }
    #contact-info-modal .modal-body > div {
        padding: 0 20px 15px 20px;
    }
}

/* Center modal popup on screen */
@media only screen and (min-width: 768px) {
    #col-thickness {
        margin: 35px 0;
    }
    #thickness {
        width: 120px;
        margin-left: 5px;
        margin-right: 10px;
    }
    .modal {
        text-align: center;
    }
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    .modal.fade .modal-dialog {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .modal.fade.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    //-webkit-transform: translate3d(0, -300px, 0);
    //transform: translate3d(0, -300px, 0);
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    #card-number {
        min-width: 200px;
    }
}

@media screen and (max-width: 768px) {
    div.emsform .form-inline .ctrl-sm {
        width: 100%;
        margin-bottom: 8px;
    }

    div.row-spacer-xs, div.row-spacer {
        padding-top: 8px;
    }
}

@media screen and (max-width: 425px) {
    #quantity-material-finish-block .dropdown-menu li.dropdown-header {
        padding: 3px 5px;
    }
    #quantity-material-finish-block .dropdown-menu li > a {
        padding-left: 5px;
    }
    #quantity-material-finish-block .dropdown-menu li > a > span.text {
        font-size: 16px;
    }
    #quantity-material-finish-block .dropdown-menu li > a > span.glyphicon {
        right: 15px;
    }
}

@media screen and (max-width: 320px) {
    #quantity-material-finish-block .dropdown-menu li.dropdown-header {
        padding: 3px 5px;
    }
    #quantity-material-finish-block .dropdown-menu li > a {
        padding-left: 5px;
    }
    #quantity-material-finish-block .dropdown-menu li > a > span.text {
        font-size: 13px;
    }
    #quantity-material-finish-block .dropdown-menu li > a > span.glyphicon {
        right: 5px;
    }
}
