#stars, #modal-reviews, #modal-contact {
    font-family: 'gilroy-light','gilroy-extrabold',arial, helvetica, sans-serif;
}

#stars {
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}
#stars ul {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#stars ul li {
    display: block;
    float: right;
    text-align: center;
    cursor: pointer;
    background-image: url(../../../../../../www.emachineshop.com/wp-content/uploads/review-us-stars.png);
    background-repeat: no-repeat;
    background-position: -120px 0;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
#stars ul li .link-wrap a {
    box-sizing: content-box;
    width: 120px;
    height: 110px;
    line-height: 110px;
    padding-top: 60%;
    z-index: -1;
    display: block;
    vertical-align: text-top;
    text-indent: -3000px;
}
#stars ul li .link-wrap a:hover, #stars ul li .link-wrap a.hover {
    background-position: 0 0;
    text-indent: 0;
    text-decoration: none;
}

#stars ul:hover .star:hover,#stars ul.hover .star:hover,#stars ul:hover .star:hover ~ .star,#stars ul.hover .star:hover ~ .star, #stars .permahover {
    background-position: 0 0;
    text-indent: 0;
    overflow: visible
}


#modal-reviews .modal-header p,
#modal-contact .modal-header p{
    color: #1b75bb;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    text-transform: none;
    padding-bottom: 0;
}
#modal-reviews .modal-body {
    background-color: #eeeeee;
    padding: 50px 15px;
}
#modal-reviews .modal-footer,
#modal-reviews .modal-footer p {
    font-size: 14px;
    text-align: left;
    color: #aaa;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
}

#modal-reviews #review-facebook, #modal-reviews #review-google {
    height: 70px;
    color: white;
    width: 100%;
    font-size: 23px;
    padding: 17px 0 0 85px;
    margin: 0 auto;
    text-decoration: none;
}
#modal-reviews .btn-social>:first-child {
    line-height: 70px;
    width: 70px;
}
#modal-reviews .review-button-block {
    height: 110px;
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 4%;
    padding-right: 4%;
}

#modals-wrapper > div.modal {
    z-index: 100000;
}
#modal-contact .modal-footer {
    text-align: center;
}
#modal-reviews div.logged-in {
    display: none;
    font-size: 13px;
    color: black;
    text-align: center;
    font-weight: bold;
}
#review-contact-sendmsg {
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    min-width: 180px;
    min-height: 40px;
    background-color: #e95643;
}
#modal-contact label {
    font-size: 16px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    #stars ul li .link-wrap a {
        width: 60px;
        height: 60px;
    }
    #stars ul li {
        background-position: -310px 0;
    }
    #stars ul li .link-wrap a:hover,
    #stars ul li .link-wrap a.hover {
        background-position: -248px 0;
        text-indent: 0;
    }

    #stars ul:hover .star:hover,
    #stars ul.hover .star:hover,
    #stars ul:hover .star:hover ~ .star,
    #stars ul.hover .star:hover ~ .star {
        background-position: -248px 0;
        text-indent: 0;
        overflow: visible
    }
}