html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

/*
 * My custom scrollbar
 */
::-webkit-scrollbar {
    width: 10px;
    float: right;
    background-color: #ebeff200;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ebeff200;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #98a6ad;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #98a6ad; 
}

/*
 * Popover styles 
 */

.popover {
    margin-top: 4px;
}

.popover > .arrow {
    left: 42% !important;
}

.popover-header {
    color: #333 !important;
}

.popover-body {
    padding: 0;
    min-width: 164px;
}

.custom-popover {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ebeff2;
    color: #2f3e47;
    overflow: auto;
}

.custom-popover li {
    background-color: #ebeff2;
    color: #2f3e47;
    padding: 6px 10px;
}
